.msg {
  background-color: var(--fundo);
  color: var(--font);
  height: 90vh;
  padding-left: 40px;
  padding-right: 40px;
  overflow: scroll;
}

.msg__title {
  text-align: center;
  text-transform: uppercase;
}



.msg-send__content {
  height: 10vh;
  width: 85%;
  border: 2px solid var(--border);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.msg-send__action {
  background-color: var(--btn);
  color: var(--font);
  font-size: 20px;
  width: 15%;
  height: 10vh;
  cursor: pointer;

  transition: background-color 200ms linear;
}

.msg-send__action:hover {
  background-color: var(--btn-over)
}
