<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Chat</title>

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <!-- article.msg+form.msg-send>input[type=text].msg-send__content+input[type=submit value=Enviar].send-msg__action -->
  <article class="msg">
    <!-- h1.msg__title{Mensagens} -->
    <h1 class="msg__title">Mensagens</h1>
  </article>
  <form action="http://localhost:3001/msg" method="POST" class="msg-send">
    <input type="text" name="msg" class="msg-send__content">
    <input type="submit" value="Enviar" class="msg-send__action">
  </form>

  <!-- script[src=/js/main.js] -->
  <script src="/js/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
